
/* General Page Styling */
html {
	font-family: Helvetica;
	font-size: 16px;
	color: #330000;
}

body {
  background-image: url("../images/wood-grain.jpg");
  background-repeat:repeat;
  background-position:center;
	background-attachment: scroll;
}

/* Start HEADER STYLING. */
header {
	display: block;
	width: 980px;
	margin: 1rem auto 0 auto;
}

nav ul {
	display: flex;
	height: 2rem;
}

nav a {
	display: block;
	float: left;
	margin-right: 0px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
}

nav a:hover {
	background:  #F3F3F3;
	color: #330000;
	border: none;
}

#current_page_item {
	background:  #F3F3F3;
	color: #2C2E22;
}


/* Logo */
.logo-container {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 978px;
	margin: 0 auto;
	height: 7.5rem;
	border: 20px solid #F3F3F3;
}

.logo-container h1 {
	font-size: 6rem;
	vertical-align: middle;
}

/* Page */

#page {
	width: 978px;
	margin: 0 auto;
	padding: 20px 0px 0 0px;
	background: #FFFFFF;
	border: 20px solid #F3F3F3;
	border-top: none;
}

/* Content */

#content {
	float: left;
	width: 938px;
	padding: 0px 0px 0px 20px;
}


/* Footer */

.sys_footer {
	text-align: center;
	font-size: 9px;
	color: #CCCCCC;
}

.sys_footer a {
	color: #FFFFFF;
}

.sys_txt{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #330000;
	padding: 0px 0 0 0;
	font-size-adjust: none;
	font-style		: normal;
	font-variant	: normal;

}

a{color:#3C7BCF;}

.sys_txt a img{

	border : none;

}

.sys_txt a{

	text-decoration: none;

}

.sys_txt a:hover{

	text-decoration: none;

}

.sys_txt h1, .sys_txt h2, .sys_txt h3 {
	margin-top: 0em;
}

.sys_txt h1 a, .sys_txt h2 a, .sys_txt h3 a {
	border: none;
	text-decoration: none;
}

.sys_txt h1 a:hover, .sys_txt h2 a:hover, .sys_txt h3 a:hover {
	background: none;
}

.sys_txt h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

.sys_txt h2 {
	letter-spacing: -.05em;
	font-size: 1.1em;
	font-weight: bold;
	color: #330000;
}

.sys_txt h3 {
	font-size: 1em;
}

.sys_txt h4{
	margin:0;
	padding:10px 0 10px 0;


}

.sys_txt h5{

	margin:0;
	padding:10px 0 10px 0;

}

.sys_txt h6{
	margin:0;
	padding:10px 0 10px 0;


}

.sys_txt p{

	margin:0;
	padding:5px 0;

}

.sys_txt blockquote {

	margin: 0 20px;
	padding:15px 0 15px 30px;
	padding-left: 1em;
	border-left: 5px solid #DDDDDD;

}

.sys_txt ul{

	margin	: 15px 5px;
	padding	: 0 35px;
	line-height:normal;


}

.sys_txt ul li{

	margin : 0;
	padding : 2px 0;
	line-height:normal;
}

h1,
#logo {
  font-style: helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: white;
}
